:root {
  --bcg-black-color: #17191e;
  --bcg-white-color: #ffffff;
  --bcg-yellow-color: #ffda00;
  --yellow-title-color: #ffdb00;
  --white-text-color: #ffffff;
  --black-text-color: #181a1f;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #17191e;
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
}

a {
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: #ffda00;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__header {
  top: 1em;
  padding: 0.5em;
}

.logo__header__img {
  width: 3em;
}

.nav__header {
  top: 1em;
  width: 1em;
  height: 1em;
  background-color: #ffda00;
}

.h1__header {
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-bottom: 0.2em;
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
  font-size: 4em;

  text-transform: uppercase;
  font-weight: normal;
  font-family: "Teko", sans-serif;
}

.h6__header {
  margin-left: 9em;
  margin-bottom: 3em;
  width: 40em;
  display: flex;
  flex-flow: row wrap;
  font-weight: normal;
  color: white;
  opacity: 0.6;
  line-height: 1.5;
}

.input__header {
  margin-left: 7em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #17191e;
  border-color: #ffda00;
  border-radius: 50px;
  color: white;
  padding: 1em;

  width: 12em;
  text-transform: uppercase;
  font-size: 0.7em;
  opacity: 0.8;
  font-family: "Teko", sans-serif;
  cursor: pointer;
}

.main {
  margin-top: 7em;
}

.main__guote {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color: #ffda00;

  height: 9em;
  font-weight: normal;
  font-family: "Teko", sans-serif;
}

.main__guote__p {
  position: absolute;
  right: 10em;
  left: 18em;
  opacity: 0.8;
  font-size: 0.8em;
}

.main__services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 20em;
}

.main__services__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 60em;
  margin-top: 1.5em;
}

.main__services__div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  flex-basis: 29%;
}

.main__services__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  background-color: #ffda00;
  padding: 1em;
  opacity: 0.8;
}

.main__services__h4 {
  font-family: "Teko", sans-serif;
  color: #ffda00;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 1em;
  text-align: left;
}

.main__services__p {
  font-family: "Teko", sans-serif;
  font-size: 0.7em;
  opacity: 0.7;
  margin-top: 2em;
  text-align: left;
}

.main__services__input {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 0.6em;
  opacity: 0.8;
  font-family: "Teko", sans-serif;
  margin-top: 5em;
  margin-bottom: 4em;

  width: 20em;
  background-color: #ffffff;
  border-color: #ffda00;
  border-radius: 50px;
  padding: 1em;
  cursor: pointer;
}

/*  clients*/
.clients {
  background-color: var(--bcg-black-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.clients__title {
  margin-bottom: 50px;
  color: var(--yellow-title-color);
  font-size: 50px;
  text-transform: uppercase;
}

.clients__text {
  color: var(--white-text-color);
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 120px;
}

.clients-logo__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  list-style: none;
}

.clients-logo__item:not(:last-child) {
  margin-right: 160px;
}

.carousel-indicators {
  display: flex;
  list-style: none;
  justify-content: center;
}

.indicator:not(:last-child) {
  margin-right: 10px;
}

.indicator {
  height: 10px;
  width: 10px;
  background-color: var(--white-text-color);
}

.active-ind {
  background-color: var(--yellow-title-color);
}

/* contact */
.contact {
  padding-top: 120px;
  background-color: var(--white-text-color);
}

.contact__title {
  margin-bottom: 50px;
  color: var(--yellow-title-color);
  font-size: 50px;
  text-transform: uppercase;
}

.contact__text {
  color: var(--black-text-color);
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 120px;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 970px;
  color: var(--black-text-color);
}

.contact__form > input[type="text"],
.contact__form > input[type="email"],
.contact__form textarea {
  padding: 14px 24px;
  margin-bottom: 40px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  border: 2px solid var(--black-text-color);
  resize: none;
}

.contact__form > input[type="submit"] {
  font-size: 20px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  padding: 24px 160px;
  border: 1px solid var(--yellow-title-color);
  background-color: var(--bcg-white-color);
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.input-name {
  flex-basis: 48.45%;
}

.input-email {
  flex-basis: 48.45%;
  margin-bottom: 20px;
}

.input-subject {
  flex-basis: 100%;
}

.input-message {
  flex-basis: 100%;
}

/* info */
.info {
  background-color: var(--yellow-title-color);
}

.info__list {
  display: flex;
  justify-content: space-between;
  padding: 120px 48px;
  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;
}

.info__icon {
  height: 80px;
  width: 80px;
  padding: 28px;
  background-color: var(--black-text-color);
  margin-right: 27px;
}

.info__list a {
  text-decoration: none;
  color: var(--black-text-color);
  font-size: 20px;
}
/* footer */

footer {
  padding: 120px 370px;
  color: var(--white-text-color);
  background-color: var(--black-text-color);
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 50px;
}

.accent {
  color: var(--yellow-title-color);
}

.social__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.social__list a,
.social__icon {
  height: 20px;
  width: 20px;
}

.button-up__link {
  margin-left: auto;
  height: 50px;
  width: 50px;
}

.button-up__img {
  height: 50px;
  width: 50px;
  padding: 17px;
  background-color: var(--yellow-title-color);
}

a:focus,
input:focus,
textarea:focus {
  outline: 2px solid var(--yellow-title-color);
}

a:hover {
  color: #00e1ff;
}
